{{#each posts as |post|}}
<section class="card">
    <header>
        <a href="/post/{{id}}">
            <h4>{{post.title}}</h4>
        </a>
        <h6>Posted by {{user.name}} at {{format_date post.createdAt}}</h6>
    </header>
    <p>{{post.text}}</p>
    {{!-- {{#if logged_in}}
    {{> comment}}
    {{/if}} --}}
</section>
{{/each}}